@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: all 450ms ease-in-out;
}
body {
  background-color: #171810;
}
.container {
  padding: 25px 20% 0 20%;
  background-color: #171810;
}
.topic {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}
.actionset {
  bottom: 0px;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #171810;
}

.input-style {
  padding: 12px 20px;
  width: 100%;
  border: 2px solid #2e2f2e;
  border-radius: 90px;
  background-color: #2e2f2e;
  font-size: 16px;
  color: white;
  outline: none;
}
.btn {
  border: none;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 40px;
  margin: 0 auto;
  background: white;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #171810;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #171810;
  font-size: medium;
}

.word_gen {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.margin {
  margin-bottom: 25px;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.my_d {
  margin-top: 15px;
  color: #2e2f2eb0;
  font-weight: 500;
}
.output_para {
  background-color: #2e2f2e;
  padding: 16px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 17px;
  border-radius: 8px;
  color: white;
  width: 100%;
}
.hed_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  background-color: #1f201f;
  padding: 10px;
  border-radius: 8px;
}
.topic_esay {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 0 0 10px 0;
  text-transform: capitalize;
}
.copy_btn {
  color: white;
  background-color: #2e2f2e;
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 450ms ease-in-out;
}
.main_set{
  margin-bottom: 200px;
}

@media screen and (max-width: 650px) {
  .container {
    padding: 10px 10px 0 10px;
    background-color: #171810;
  }
  .actionset{
    width: 96%;
    text-align: center;
  }
  .topic{
    font-size: 30px;
  }
}

